In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.DataFrame({
    'nama' : ['budi', 'dheva', 'putra', 'dika', 'galang', 'radit'],
    'umur' : [20, 20, 20, 20, 20, 20],
    'gaji' : [2000000, 500000, 7000000, 6000000, 1000000, 200000],
    'negara' : ['ID', 'ID', 'ID', 'ID', 'ID', 'ID']})

In [5]:
print(data)

     nama  umur     gaji negara
0    budi    20  2000000     ID
1   dheva    20   500000     ID
2   putra    20  7000000     ID
3    dika    20  6000000     ID
4  galang    20  1000000     ID
5   radit    20   200000     ID

In [8]:
data

     nama  umur     gaji negara
0    budi    20  2000000     ID
1   dheva    20   500000     ID
2   putra    20  7000000     ID
3    dika    20  6000000     ID
4  galang    20  1000000     ID
5   radit    20   200000     ID

In [11]:
#menampilkan nama nama kolom
data.columns

Index(['nama', 'umur', 'gaji', 'negara'], dtype='object')

In [10]:
#menampilkan ukuran data frame
data.shape

(6, 4)

In [12]:
data.isnull().sum()

nama      0
umur      0
gaji      0
negara    0
dtype: int64

In [14]:
data.isna().sum()

nama      0
umur      0
gaji      0
negara    0
dtype: int64

In [ ]:
#data = df.dropna().resetindex(drop=True)